<<<<<<< HEAD

body{    
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("../../images/cattheme.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

p{
    margin: 12px inherit;
}


.home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 85vw;
    height: 88vh;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.homebar{
    background-color: var(--main-dark);
    width: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.homebar a{
    color: var(--main-light);
    padding: 8px 12px;

    text-align: center;
}

.extblocklist{
    justify-content: center;
    column-gap: 16px;
}

.fakebotbar{
    background-color: var(--main-dark);
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0%;
}

.main, .logmenu{
    height: 88%;
}

.main{
    position: relative;
    width: 70%;
}


.logmenu{
    position: relative;
    width: 30%;
    max-width: 320px;

    display: flex;
    flex-direction: column;

    margin-left: -1500px; /* Ensures it starts from the left */
    align-self: flex-start; /* If it's inside a flex parent */
}

.logmenu h2{
    margin-left: 20px;
}

.logbox{
    background-color: var(--transparent-dark);
    border: ridge 8px var(--second-dark);
    font-size: 0.88em;

    overflow-y: scroll;
}

.logbox ul{
    margin: 15px 20px 15px 0px;
}

.logbox ul li{
    padding: 5px 0px;
}

.ver{
    font-size: 18px;
    font-weight: 300;
}


.webbuttons{
    letter-spacing: -10px;
}


.fronttitle{
    text-align: center;
}

.fronttitle pre{
    font-size: 1.4vw;
    font-family: "dos";
    letter-spacing: 0px;
    
    padding: 20px 50px;

    display: inline-block;
    text-align: left;

    color: var(--purple);
    border: ridge 5px var(--purple);
}

.fronttitle pre.center{
    text-align: center;
}

.box{
    text-align: left;
}

.noscriptwarning{
    background-color: var(--main-dark);
}

@media only screen and (orientation: portrait){
    .home{
        position: inherit;
        top: 0%;
        left: 0%;
        transform: none;

        width: 100vw;
        height: 85%;

        display: inherit;
        flex-direction: inherit;
        justify-content: inherit;
        align-items: inherit;
    }

    .main{
        width: 95%;
        margin: auto;
    }

    .maincenter{
        position: inherit;
        top: 0%;
        left: 0%;
        transform: none;
        height: 100%;
        width: 100%;
    }

    .logmenu{
        width: 95%;
        max-width: inherit;
        height: 33vh;

        margin: auto;
    
        display: flex;
        flex-direction: column;
    }

    .logbox {
        font-size: 0.5em;
    }

    .homebar a{
        padding: 10px 20px;
    }
    
}

.mainwindow{
    border-color: var(--purple);
}

pre.heh{
    font-weight: 200;
    font-size: 0.5em;

    color: inherit;
    background-color: inherit;
    
    border: none;
    padding: 0px;

    /* float: right; */
    margin-left: 20px;
}

.abouttop{
    display: flex;
    align-items: flex-end;
}
.aboutbody{
    /* border: dashed 2px var(--main-light); */
    padding: 10px;
    
    
}

.aboutbody p{
    text-align: left;
}

.aboutlinks{ 
    justify-content: start;
    align-items: flex-start;
    text-align: justify;
}

.aboutlinks div:first-child{
    width: 55%;
}

.aboutstamps{
    max-width: 45%;
}


=======

body{    
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("../../images/cattheme.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

p{
    margin: 12px inherit;
}

.home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 85vw;
    height: 88vh;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.homebar{
    background-color: var(--main-dark);
    width: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.homebar a{
    color: var(--main-light);
    padding: 8px 12px;

    text-align: center;
}

.extblocklist{
    justify-content: center;
    column-gap: 16px;
}

.fakebotbar{
    background-color: var(--main-dark);
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0%;
}

.main, .logmenu{
    height: 88%;
}

.main{
    position: relative;
    width: 70%;
}


.logmenu{
    width: 30%;
    max-width: 320px;

    display: flex;
    flex-direction: column;
}

.logmenu h2{
    margin-left: 20px;
}

.logbox{
    background-color: var(--transparent-dark);
    border: ridge 8px var(--second-dark);
    font-size: 0.88em;

    overflow-y: scroll;
}

.logbox ul{
    margin: 15px 20px 15px 0px;
}

.logbox ul li{
    padding: 5px 0px;
}

.ver{
    font-size: 18px;
    font-weight: 300;
}


.webbuttons{
    letter-spacing: -10px;
}


.fronttitle{
    text-align: center;
}

.fronttitle pre{
    font-size: 0.8vw;
    font-family: "dos";
    letter-spacing: 0px;
    
    padding: 20px 50px;

    display: inline-block;
    text-align: left;

    color: var(--purple);
    border: ridge 5px var(--purple);
}

.noscriptwarning{
    background-color: var(--main-dark);
}

@media only screen and (orientation: portrait){
    .home{
        position: inherit;
        top: 0%;
        left: 0%;
        transform: none;

        width: 100vw;
        height: 85%;

        display: inherit;
        flex-direction: inherit;
        justify-content: inherit;
        align-items: inherit;
    }

    .main{
        width: 95%;
        margin: auto;
    }

    .maincenter{
        position: inherit;
        top: 0%;
        left: 0%;
        transform: none;
        height: 100%;
        width: 100%;
    }

    .logmenu{
        width: 95%;
        max-width: inherit;
        height: 55vh;

        margin: auto;
    
        display: flex;
        flex-direction: column;
    }

    .logbox {
        font-size: 0.5em;
    }

    .homebar a{
        padding: 10px 20px;
    }
    
}

.mainwindow{
    border-color: var(--purple);
}

pre.heh{
    font-weight: 200;
    font-size: 0.5em;

    color: inherit;
    background-color: inherit;
    
    border: none;
    padding: 0px;

    /* float: right; */
    margin-left: 20px;
}

.abouttop{
    display: flex;
    align-items: flex-end;
}
.aboutbody{
    /* border: dashed 2px var(--main-light); */
    padding: 10px;
    
    
}

.aboutbody p{
    text-align: left;
}

.aboutlinks{ 
    justify-content: start;
    align-items: flex-start;
    text-align: justify;
}

.aboutlinks div:first-child{
    width: 55%;
}

.aboutstamps{
    max-width: 45%;
}


>>>>>>> 84e9d2e (yay)
